[submodule "oh-my-zsh-custom/custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh-custom/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
	ignore = all
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	branch = master
	ignore = all
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
	branch = master
	ignore = all
[submodule "oh-my-zsh-custom/custom/plugins/zsh-histdb"]
	path = oh-my-zsh-custom/custom/plugins/zsh-histdb
	url = https://github.com/larkery/zsh-histdb
	branch = master
	ignore = all
[submodule "oh-my-zsh-custom/custom/plugins/zsh-histdb-fzf"]
	path = oh-my-zsh-custom/custom/plugins/zsh-histdb-fzf
	url = git@github.com:thxph/zsh-histdb-fzf.git
	branch = master
	ignore = all
[submodule "oh-my-zsh-custom/themes/powerlevel10k"]
	path = oh-my-zsh-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	branch = master
	ignore = all
